.header {
    width: 1440px;
    height: 80px;
    margin: auto;

}

.logo {
    display: inline-block;
    color: #22202E;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    padding: 0 5px 1px 5px;
    margin: 25px 149px 26px 80px;
}

.header_nav {
    display: inline-block;
    margin: 29px 0;
}

.header_list {
    display: flex;
    width: 702px;
    height: 22px;
    justify-content: space-between;
}

.link {
    color: #726E8D;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;

}

.icon {
    display: inline-block;
    margin: 30px 80px 34px 264px;


}

.icon_link {
    display: inline-block;
    text-decoration: none;
    width: 16px;
    height: 16px;

}

.icon_link1 {
    background: url(./img/Search.svg);
}

.icon_link2 {
    background: url(./img/Shopping--cart.svg);
    margin: 0 16px;
}

.icon_link3 {
    background: url(./img/User--avatar.svg);
}

.main {
    width: 1440px;
    margin: 0 auto;
}

.main_container {
    width: 1440px;
    height: 223px;
    margin: 0 auto;
}

.title {
    display: inline-block;
    color: var(--Dark-Primary, #2A254B);
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin: 80px 0 0 575px;
}

.filter {
    display: flex;
    justify-content: space-between;

    margin: 24px 80px 1px 80px;
}




.filter_option {
    display: inline-block;
    color: #2A254B;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding: 12px 24px;
    border: none;

}

.filter_right {
    display: flex;
    justify-content: space-between;

}

.text {
    display: inline-block;
    padding: 12px 16px 12px 0;
    color: var(--Dark-Primary, #2A254B);
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;


}

.grid_container {
    display: grid;
    grid-template-rows: 462px 462px 462px;
    grid-template-columns: 305px 305px 305px 305px;

    gap: 20px;
    margin: 28px 80px 28px 80px;
}

.img {
    margin-top: 28px;

}

.img_link {
    background: url(./img/1.jpg);
}

.img_link2 {
    background: url(./img/2.jpg);
}

.img_link3 {
    background: url(./img/3.jpg);
}

.img_link4 {
    background: url(./img/4.jpg);
}

.button {
    display: inline-block;
    color: #2A254B;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding: 16px 32px;
    margin-left: 635px;
    margin-bottom: 40px;
    border: none;
}

.sing_up {
    display: flex;
}

.sing_up_text {
    width: 720px;
}

.sing_up_foto {
    width: 720px;
    background: url(./img/Image.jpg);
}

.sing_up_title {
    color: var(--Dark-Primary, #2A254B);
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 71px 130px 21px 49px;

}

.sing_up_paragraf {
    color: var(--Dark-Primary, #2A254B);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 470px;
    margin-left: 49px;

}

.sing_up_button {
    display: inline-block;
    background-color: #2A254B;
    padding: 16px 32px;
    gap: 10px;
    color: var(--White, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-left: 72px;
    margin-top: 216px;

}

.input {
    display: inline-block;
    border: none;
    width: 472px;
    height: 56px;
}

.footer_box {
    background-color: #2A254B;
    width: 1440px;
    margin: auto;
}

.footer {
    width: 1440px;
    margin: auto;
    background-color: #2A254B;
    display: flex;
}


.footer_nav {
    width: 720px;
    height: 255px;
    display: flex;
    justify-content: space-around;
}

.footer_list {
    margin-top: 58px;

}

.footer_list_link {
    color: #FFF;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;


}

.box {
    width: 720px;
    height: 255px;
    display: inline-block;
}

.map {
    width: 642px;
    height: 195px;
    margin-top: 58px;

}


.line {
    width: 1277px;
    height: 1px;
    background: #4E4D93;

}

.paragraf {
    display: inline-block;
    margin-bottom: 25px;
}

icon2 {
    width: 264px;
    display: flex;
    justify-content: space-between;
}

.footer_link {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: aqua;
}

.section {
    width: 1280px;
    display: flex;
    justify-content: space-between;
    margin-left: 80px;

}

.footer_link {
    gap: 24;
}

.footer_link1 {
    background: url(./img/i1.png) no-repeat;
    background-size: cover;

}


.footer_link2 {
    background: url(./img/i2.jpg) no-repeat;

    background-size: cover;

}

.footer_link3 {
    background: url(./img/i3.jpg) no-repeat;
    background-size: cover;

}

.footer_link4 {
    background: url(./img/i4.jpg) no-repeat;
    background-size: cover;

}

.footer_link5 {
    background: url(./img/i5.jpg) no-repeat;
    background-size: cover;

}

.footer_link6 {
    background: url(./img/i6.jpg) no-repeat;
    background-size: cover;

}

.span {
    color: var(--White, #FFF);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}